{:category :helix-plugin
 :description
 [
  [:p "I wrote the " [:b "nREPL.hx"]
   " client in Steel and Rust to enable Clojure REPL integration in Helix. But it’s a generic nREPL client
    with dedicated adapters for Janet and Steel Scheme too."]
  [:figure
   [:img
    {:alt "An asciinema recording of interacting with a Clojure nREPL in Helix"
     :height 787
     :loading "lazy"
     :src "/static/nrepl.gif"
     :width 1171}]
   [:figcaption
    "An asciinema recording of interacting with a Clojure nREPL in Helix."]]]
 :slug :nrepl
 :title "nREPL.hx"
 :url "https://github.com/waddie/nrepl.hx"}
