{:description
 [[:p [:a {:href "https://helix-editor.com/"} "Helix"]
   " is my favourite text editor. There’s currently a "
   [:a
    {:href   "https://github.com/mattwparas/helix/tree/steel-event-system"
     :target "_blank"} "fork in progress"] ", adding support for plugins via "
   [:a {:href "https://github.com/mattwparas/steel"} "Steel"]
   ", a dialect of Scheme."]
  [:p "I wrote the " [:b "nREPL.hx"]
   " client in Steel and Rust to enable Clojure REPL integration in Helix."]
  [:figure
   [:img
    {:alt "An asciinema recording of interacting with a Clojure nREPL in Helix"
     :height 787
     :loading "lazy"
     :src
     "https://raw.githubusercontent.com/waddie/nrepl.hx/refs/heads/main/images/nrepl.gif"
     :width 1171}]
   [:figcaption
    "An asciinema recording of interacting with a Clojure nREPL in Helix."]]]
 :title "nREPL.hx"
 :url "https://github.com/waddie/nrepl.hx"}
