
{:description
 [[:p
   "A Paredit implementation for "
   [:a {:href "https://helix-editor.com/"} "Helix"]
   " (with the Steel plug-in system), inspired by "
   [:a
    {:href   "https://github.com/julienvincent/nvim-paredit"
     :target "_blank"} "nvim-paredit"]
   "."]
  [:p
   "Just the bits Helix doesn’t already do with tree-sitter nodes and textobjects: slurping, barfing, dragging,
    raising and splicing, for Clojure, Common Lisp, Fennel, Janet and Scheme."]
  [:figure
   [:img
    {:alt    "Barfing and slurping in Helix with paredit.hx"
     :height 1171
     :src    "/static/hx-barf.gif"
     :width  787}]
   [:figcaption
    "Barfing and slurping in Helix with paredit.hx"]]]
 :slug :paredit
 :title "paredit.hx"
 :url "https://github.com/waddie/paredit.hx"}
