{:category    :helix-library
 :description [
               [:p
                "Library functionn for shelling out on POSIX platforms."]
              ]
 :slug        :run-command
 :title       "run-command.scm"
 :url         "https://github.com/waddie/run-command.scm"}
