{:clojars "dev.tomwaddington/still"
 :description
 [[:p [:b "still"]
   " is a Clojure self-modifying snapshot testing library inspired by Ian Henry’s "
   [:a
    {:href   "https://ianthehenry.com/posts/my-kind-of-repl/"
     :target "_blank"} "My Kind of REPL"] "."]
  [:p [:code "still/snap!"]
   " statements will automatically populate with the snapshot result when evaluated in the REPL, behave as an "
   [:code "assert"] " during runtime, and act like an " [:code "(is (=))"]
   " test inside " [:code "deftest"] "."]
  [:figure
   [:img
    {:alt     "An asciinema recording of using still in Helix via nrepl.hx"
     :height  787
     :loading "lazy"
     :src     "/static/still.gif"
     :width   1171}]
   [:figcaption
    "An asciinema recording of using " [:i "still"]
    " in Helix, via nrepl.hx."]]]
 :title "still"
 :url "https://github.com/waddie/still"}
