{:cli {:title "Command-line tools"}
 :clojure-library {:title "Clojure libraries"}
 :helix-library {:description [:p "Shared libraries for Helix plug-ins."]
                 :title       "Steel/Helix libraries"}
 :helix-plugin
 {:description [:p [:a {:href "https://helix-editor.com/"} "Helix"]
                " is my favourite text editor. There’s currently a "
                [:a
                 {:href
                  "https://github.com/mattwparas/helix/tree/steel-event-system"}
                 "fork in progress"] ", adding support for plug-ins via "
                [:a {:href "https://github.com/mattwparas/steel"} "Steel"]
                ", a dialect of Scheme."]
  :title       "Helix plug-ins"}
 :llm-tool {:description "Toll the great bell thrice."
            :title       "LLM tools"}
 :nrepl-server {:description
                [:p [:a {:href "https://nrepl.org/"} "nREPL"]
                 " is a language-agnostic protocol for networked REPLs."]
                :title "nREPL servers"}}
