{:content
 [[:p
   "I’m a computer programmer. Employers have variously called me different flavours of
    engineer, developer and manager. But in my head, I’ll always be a computer programmer, ever
    since I was the kid asking permission to sit indoors with the classroom BBC Model B instead of
    going outside at break."]
  [:p
   "I’ve written programs in more languages than I can remember, starting with Oric Atmos Basic,
    through C and 68k assembly on the Amiga, a lot of Perl I’ve forgotten how to read, JavaScript before
    there were any “Good Parts”, enterprise Java and C#, Objective-C, and lately a bit of Rust and a lot
    of TypeScript."]
  [:p
   "But hardly any Ruby. If you’re looking for the Ruby guy, that’s a different Tom Waddington."]
  [:p
   "Professionally, most of that programming has been in service of some web site/app or other, as part of
   technical teams rarely more than a dozen people strong. Collectively, that work has generated hundreds of
   millions of pounds of revenue."]
  [:p
   "My favourite kind of programming is functional, REPL-driven, and in Clojure. I also like PostgreSQL,
   Jujutsu, and the Helix editor. I’ve been writing a lot of Steel Scheme lately for the upcoming plug-in
   system for Helix, you’ll find links to that work "
   [:a {:href "/projects.html#helix-plugin"} "on the Projects page"] "."
  ]
  [:p
   "When I’m not programming computers, I like painting toy soldiers, playing board games, and walking
    up hills, walking back down hills, and, if it can possibly be arranged, walking directly into a nice
    bit of the Mediterranean at the end."]
  [:p "Whatever I’m doing, there’s music playing."]]}
