{:body
 [[:p "As the "
   [:a
    {:href   "https://github.com/helix-editor/helix/pull/8675"
     :target "_blank"} "Steel Scheme plug-ins"]
   " pull request for Helix crawls ever closer to release (it’ll all be over by Christmas…), I thought
    it might be useful to write a short tutorial for Helix users who now find themselves fledgling Scheme
    programmers."]
  [:p
   "Building the Steel fork from source only takes a handful commands more than installing it via your
   package manager, it’s been stable for months now, and switching back should be seamless. So, if you’re
   parens-curious, there’s really no reason to wait."]
  [:p
   "I can’t teach you Scheme here but I don’t think I need to: as it’s been used as an educational language
    for decades, there are plenty of freely available resources. Hopefully this is enough to get you up,
    running, and over that initial hump of “what the hell am I even looking at” the first time you open a "
   [:code ".scm"] " file."]
  [:figure
   [:img
    {:alt    "heard you like parentheses"
     :height 1210
     :src    "static/xzibit.gif"
     :width  1498}] [:figcaption "heard you like parentheses"]]
  [:h2 "Prerequisites"]
  [:ul
   [:li "I assume you already have " [:code "git"] "installed."]
   [:li "You’ll need to have the "
    [:a
     {:href   "https://rust-lang.org/tools/install/"
      :target "_blank"} "Rust"] " toolchain installed to build Helix."]
   [:li
    "And you need to be comfortable in the shell, building software from source
     and potentially cleaning up afterwards manually."]]
  [:h2 "Building the Steel fork"]
  [:p
   "Development of the Helix plug-in system is currently still happening
    in Matthew Paras’s fork. These commands will clone the main Helix repo,
    add Matthew’s fork as an additional remote, then switch to the Steel branch:"]
  [:div.dathan
   [:pre
    [:code [:span {:class "function cli"} "git"] " "
     [:span {:class "variable variable-parameter"} "clone"] " "
     [:span {:class "variable variable-parameter"}
      "git@github.com:helix-editor/helix.git"] "\n"
     [:span {:class "function cli function-builtin"} "cd"] " "
     [:span {:class "variable variable-parameter"} "helix"] "\n"
     [:span {:class "function cli"} "git"] " "
     [:span {:class "variable variable-parameter"} "remote"] " "
     [:span {:class "variable variable-parameter"} "add"] " "
     [:span {:class "variable variable-parameter"} "mattwparas"] " "
     [:span {:class "variable variable-parameter"}
      "git@github.com:mattwparas/helix.git"] "\n"
     [:span {:class "function cli"} "git"] " "
     [:span {:class "variable variable-parameter"} "fetch"] " "
     [:span {:class "variable variable-parameter"} "mattwparas"] " "
     [:span {:class "variable variable-parameter"} "steel-event-system"] "\n"
     [:span {:class "function cli"} "git"] " "
     [:span {:class "variable variable-parameter"} "switch"] " "
     [:span {:class "variable variable-parameter"} "steel-event-system"] "\n"]]]
  [:p "You can then build it:"]
  [:div.dathan
   [:pre
    [:code [:span {:class "function cli"} "cargo"] " "
     [:span {:class "variable variable-parameter"} "xtask"] " "
     [:span {:class "variable variable-parameter"} "steel"] "\n"]]]
  [:p
   [:code "cargo"]
   " will download the dependencies, build the " [:code "hx"] ", "
   [:code "steel"] "," [:code "forge"] " and " [:code "steel-language-server"]
   " binaries and install them to " [:code "~/.cargo/bin"] "."]
  [:p "Finally, make sure the " [:code "cargo"] " and " [:code "steel"]
   " bin directories are on your " [:code "PATH"] ", something like:"]
  [:div.dathan
   [:pre
    [:code
     [:span {:class "cli keyword keyword-control keyword-control-import"}
      "export"]
     " " [:span {:class "variable variable-builtin"} "PATH"]
     [:span {:class "operator"} "="]
     [:span {:class "string"} "\""
      [:span {:class "none"}
       [:span {:class "punctuation punctuation-special"} "$"]
       [:span {:class "variable variable-builtin"} "PATH"]] ":"
      [:span {:class "none"}
       [:span {:class "punctuation punctuation-special"} "$"]
       [:span {:class "variable variable-builtin"} "HOME"]] "/.cargo/bin:"
      [:span {:class "none"}
       [:span {:class "punctuation punctuation-special"} "$"]
       [:span {:class "variable variable-builtin"} "HOME"]] "/.steel/bin\""]
     "\n"]]]
  [:p "If you want to go back to mainline Helix, you can simply switch to "
   [:code "origin/master"] " and follow the "
   [:a
    {:href   "https://docs.helix-editor.com/building-from-source.html"
     :target "_blank"} "build instructions on the website"] "."]
  [:h2 "Additional tools"]
  [:p "Next, we’ll install some tools to help with Scheme development:"]
  [:div.dathan
   [:pre
    [:code [:span {:class "function cli"} "cargo"] " "
     [:span {:class "variable variable-parameter"} "install"] " "
     [:span {:class "variable variable-parameter"} "schemat"] "\n"
     [:span {:class "function cli"} "forge"] " "
     [:span {:class "variable variable-parameter"} "pkg"] " "
     [:span {:class "variable variable-parameter"} "install"] " "
     [:span {:class "variable variable-parameter"} "--git"] " "
     [:span {:class "variable variable-parameter"}
      "https://github.com/waddie/nrepl-steel"] "\n"
     [:span {:class "function cli"} "forge"] " "
     [:span {:class "variable variable-parameter"} "pkg"] " "
     [:span {:class "variable variable-parameter"} "install"] " "
     [:span {:class "variable variable-parameter"} "--git"] " "
     [:span {:class "variable variable-parameter"}
      "https://github.com/waddie/nrepl.hx"] "\n"
     [:span {:class "function cli"} "forge"] " "
     [:span {:class "variable variable-parameter"} "pkg"] " "
     [:span {:class "variable variable-parameter"} "install"] " "
     [:span {:class "variable variable-parameter"} "--git"] " "
     [:span {:class "variable variable-parameter"}
      "https://github.com/waddie/paredit.hx"] "\n"]]]
  [:ul
   [:li
    [:a
     {:href   "https://github.com/raviqqe/schemat"
      :target "_blank"} [:code "schemat"]] " is a formatter for Scheme code."]
   [:li
    [:a
     {:href   "https://github.com/waddie/nrepl-steel"
      :target "_blank"} [:code "nrepl-steel"]]
    " is my nREPL server for Steel."]
   [:li
    [:a
     {:href   "https://github.com/waddie/nrepl.hx"
      :target "_blank"} [:code "nrepl.hx"]]
    " is my Helix nREPL client plug-in."]
   [:li
    [:a
     {:href   "https://github.com/waddie/paredit.hx"
      :target "_blank"} [:code "paredit.hx"]]
    " is my Helix plug-in providing structural editing operations for Lisp-like languages, including Scheme."]]
  [:h2 "Helix config"]
  [:p
   "You might find it useful to enable rainbow brackets in your "
   [:code "config.toml"]
   ". Rainbow brackets colours each pair differently, making it easier to understand the nesting at a glance:"]
  [:div.dathan
   [:pre
    [:code [:span {:class "punctuation punctuation-bracket"} "["]
     [:span {:class "type"} "editor"]
     [:span {:class "punctuation punctuation-bracket"} "]"] "\n"
     [:span {:class "variable variable-other variable-other-member"}
      "rainbow-brackets"] " " [:span {:class "operator"} "="] " "
     [:span {:class "constant constant-builtin constant-builtin-boolean"}
      "true"]]]]
  [:p
   "I’ve created "
   [:a
    {:href   "https://github.com/waddie/helix-steel-demo"
     :target "_blank"} "a repo with a minimal Steel Scheme config for Helix"]
   ". It initialises the plug-ins we installed
    above, and sets up the default key bindings. Copy "
   [:code "helix.scm"] ", " [:code "init.scm"] " and the " [:code "cogs"]
   " folder to your " [:code "~/.config/helix"]
   " and restart Helix."]
  [:p "With that, you should be all set."]
  [:h2 "So, what’s a REPL?"]
  [:p
   "REPL stands for Read-Eval-Print-Loop. Just like with " [:code "node"] " or "
   [:code "python"] ", running the " [:code "steel"]
   " executable with no parameters
   drops you into a prompt where you can enter and evaluate code:"]
  [:figure
   [:img
    {:alt    "Evaluating code with the Steel REPL"
     :height 365
     :src    "static/steel0.gif"
     :width  710}]
   [:figcaption "Evaluating code with the Steel REPL"]]
  [:p
   "Unlike those languages, Scheme is highly conducive to interactive, exploratory
   programming in this environment. For example, modern JavaScript uses a lot of "
   [:code "const"]
   ". In the REPL, this tends to result in mistakes being permanent
   until you quit and restart – modifying idiomatic code after submission is impossible.
   In Scheme though, almost anything can be redefined on the fly:"]
  [:figure
   [:img
    {:alt    "Redefining a function in the Steel REPL"
     :height 365
     :src    "static/steel1.gif"
     :width  710}]
   [:figcaption "Redefining a function in the Steel REPL"]]
  [:p
   "But the real superpowers are acquired when you connect the REPL to your editor…"]
  [:h3 "nREPL"]
  [:p
   "The command-line REPL is cool, but the editing experience obviously leaves a lot to be
    desired, and none of the state will survive a restart. In real life, nobody develops
    software this way. You write code in your text editor, and that’s ideally where you would
    interact with the REPL too."]
  [:p
   [:a
    {:href   "https://nrepl.org/"
     :target "_blank"} "nREPL"]
   " is a standard protocol enabling REPL-like integrations between clients and servers.
    The "
   [:code "nrepl-steel"] " server and " [:code "nrepl.hx"]
   " plug-in we installed earlier
   enable both ends of this communication."]
  [:p "Open Helix, set the buffer language to Scheme, then type "
   [:code "&lt;space&gt;.n.J"]
   " to jack-in. Select the “Steel (nrepl-steel)” option from the picker."]
  [:p
   "You should see Helix open a new split buffer and a series of commented messages as the server
   is started and Helix connects:"]
  [:figure
   [:img
    {:alt    "Jacking-in to a Steel nREPL"
     :height 787
     :src    "static/steel-jack-in.gif"
     :width  1171}]
   [:figcaption "Jacking-in to a Steel nREPL"]]
  [:p
   "Once you’re connected, you can evaluate code from any buffer by selecting it and running "
   [:code ":nrepl-eval-selection"] " (" [:code "&lt;A-ret&gt;"]
   ") with the supplied key bindings. Our previous CLI example in Helix:"]
  [:figure
   [:img
    {:alt    "Evaluating code in Helix"
     :height 787
     :src    "static/steel-eval.gif"
     :width  1171}]
   [:figcaption "Evaluating code in Helix"]]
  [:p
   "So, we’re using a Helix plug-in (written in Scheme) to start and connect to an nREPL server
    (written in Scheme) and then using it to evaluate Scheme."]
  [:p
   [:code "nrepl.hx"]
   " aims to be discoverable, in the Helix tradition: you’ll find a menu of evaluation commands in "
   [:code "&lt;space&gt;.n"]
   ", including evaluating the entire buffer or multiple selections."]
  [:p "When you’re finished, type " [:code "&lt;space&gt;.n.D"]
   " to disconnect, and answer “y” at the
 prompt to kill the server."]
  [:h4 "Lookup"]
  [:p
   "Steel is approximately the Scheme R5RS standard, which is exceptionally well-documented. But on first
    contact with a new programming language, you often don’t know what you don’t know."]
  [:p
   "The lookup picker can help you explore the symbols available in your running instance. Think of it
   like rummaging through your toolbox. Type "
   [:code "&lt;space&gt;.n.l"] " in normal or select mode to open it."]
  [:figure
   [:img
    {:alt    "Opening the lookup picker in Helix"
     :height 787
     :src    "static/steel-lookup.gif"
     :width  1171}]
   [:figcaption "The nrepl.hx lookup picker in action."]]
  [:p "Hitting enter will paste the selected symbol at your cursor."]
  [:h2 "First steps with Scheme"]
  [:p
   "Scheme is a minimalist functional and imperative programming language in the Lisp family."]
  [:p
   "If you’re coming from more popular languages like TypeScript or Python, the first things
   that may trip you up are all the parentheses, and the order things go in."]
  [:p
   "For example, in those languages, arithmetic is in terms of infix operators: you write "
   [:code "1 + 2"] "."]
  [:p
   "In Scheme, there are no operators, only functions. A pair of parentheses is a function call,
   with the function name at the front and its arguments following:"]
  [:div.dathan
   [:pre
    [:code
     [:span {:class "comment comment-line"}
      "; the operator comes first, inside the parens"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "operator"} "+"] " "
     [:span {:class "constant constant-numeric"} "1"] " "
     [:span {:class "constant constant-numeric"} "2"]
     [:span {:class "punctuation punctuation-bracket"} ")"] "        "
     [:span {:class "comment comment-line"} "; => 3"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "operator"} "*"] " "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "operator"} "+"] " "
     [:span {:class "constant constant-numeric"} "1"] " "
     [:span {:class "constant constant-numeric"} "2"]
     [:span {:class "punctuation punctuation-bracket"} ")"] " "
     [:span {:class "constant constant-numeric"} "3"]
     [:span {:class "punctuation punctuation-bracket"} ")"] "  "
     [:span {:class "comment comment-line"} "; => 9"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "operator"} "+"] " "
     [:span {:class "constant constant-numeric"} "1"] " "
     [:span {:class "constant constant-numeric"} "2"] " "
     [:span {:class "constant constant-numeric"} "3"] " "
     [:span {:class "constant constant-numeric"} "4"]
     [:span {:class "punctuation punctuation-bracket"} ")"] "    "
     [:span {:class "comment comment-line"} "; => 10"]]]]
  [:p
   "There’s no operator precedence to memorise, because the nesting says exactly what happens
   first. And since "
   [:code "+"]
   " is a variadic function, it happily takes as many arguments as you like."]
  [:p
   "You name things, including functions, with " [:code "define"]
   ". A function definition looks just like a function call turned inside out: "
   [:code "(define (name args…) body)"] ":"]
  [:div.dathan
   [:pre
    [:code [:span {:class "comment comment-line"} "; name a value"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "keyword"} "define"] " " [:span {:class "variable"} "x"] " "
     [:span {:class "constant constant-numeric"} "10"]
     [:span {:class "punctuation punctuation-bracket"} ")"] "\n\n"
     [:span {:class "comment comment-line"}
      "; define a function: (define (name args...) body)"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "keyword"} "define"] " "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function"} "square"] " " [:span {:class "variable"} "n"]
     [:span {:class "punctuation punctuation-bracket"} ")"] "\n  "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "operator"} "*"] " " [:span {:class "variable"} "n"] " "
     [:span {:class "variable"} "n"]
     [:span {:class "punctuation punctuation-bracket"} ")" ")"] "\n\n"
     [:span {:class "comment comment-line"}
      "; call it the same way – name first"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function"} "square"] " "
     [:span {:class "constant constant-numeric"} "5"]
     [:span {:class "punctuation punctuation-bracket"} ")"] "  "
     [:span {:class "comment comment-line"} "; => 25"]]]]
  [:p
   "Notice that there’s no explicit " [:code "return"]
   ". In Scheme, a function’s value is simply its last evaluated expression. And calling your own
    function works exactly like calling "
   [:code "+"]
   ": the name goes first, the arguments follow. That’s essentially the whole syntax, so once "
   [:code "(+ 1 2)"] " stops looking strange, you can read almost any Scheme."]
  [:h3 "A couple of non-obvious tips"]
  [:p
   "Lisp-like languages can be a real culture shock at first. Here are a couple of tips that can make all
   those parentheses easier to deal with."]
  [:p
   "Firstly, although we talk about parentheses, Scheme actually treats paired brackets identically to parens.
   That is, these are equivalent:"]
  [:div.dathan
   [:pre
    [:code [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "keyword"} "let"] " "
     [:span {:class "punctuation punctuation-bracket"} "(" "("]
     [:span {:class "variable variable-parameter"} "s"] " "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function"} "fizzbuzz"] " " [:span {:class "variable"} "n"]
     [:span {:class "punctuation punctuation-bracket"} ")" ")" ")"] "\n  "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function function-builtin"} "display"] " "
     [:span {:class "variable"} "s"]
     [:span {:class "punctuation punctuation-bracket"} ")" ")"] "\n\n"
     [:span {:class "comment comment-line"} "; with brackets"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "keyword"} "let"] " "
     [:span {:class "punctuation punctuation-bracket"} "[" "("]
     [:span {:class "variable variable-parameter"} "s"] " "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function"} "fizzbuzz"] " " [:span {:class "variable"} "n"]
     [:span {:class "punctuation punctuation-bracket"} ")" ")" "]"] "\n  "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function function-builtin"} "display"] " "
     [:span {:class "variable"} "s"]
     [:span {:class "punctuation punctuation-bracket"} ")" ")"] "\n"]]]
  [:p
   "Used consistently, dropping in some brackets can provide enough visual texture to help orient you in
   your code."]
  [:p "Secondly, the threading macros, thread-first (" [:code "->"]
   ") and thread-last (" [:code "->>"]
   ") let you avoid deeply-nested code by writing each level as a sequential operation, for similar ergonomics
    to pipe operators in some other languages. The result of each step will thread into the next call in the
     first or last position respectively."]
  [:p "Again, these are equivalent:"]
  [:div.dathan
   [:pre
    [:code [:span {:class "comment comment-line"} "; area of a circle"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "operator"} "*"] " "
     [:span {:class "constant constant-numeric"} "3.14159"] " "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function function-builtin"} "expt"] " "
     [:span {:class "variable"} "r"] " "
     [:span {:class "constant constant-numeric"} "2"]
     [:span {:class "punctuation punctuation-bracket"} ")" ")"] "\n\n"
     [:span {:class "comment comment-line"} "; thread-first"] "\n"
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function"} "->"] " " [:span {:class "variable"} "r"] "\n  "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "function function-builtin"} "expt"] " "
     [:span {:class "constant constant-numeric"} "2"]
     [:span {:class "punctuation punctuation-bracket"} ")"] "\n  "
     [:span {:class "punctuation punctuation-bracket"} "("]
     [:span {:class "operator"} "*"] " "
     [:span {:class "constant constant-numeric"} "3.14159"]
     [:span {:class "punctuation punctuation-bracket"} ")" ")"] "\n"]]]
  [:p
   "(Strictly speaking, " [:code "->"] " and " [:code "->>"]
   " are aliases for macros called "
   [:code "~>"] " and " [:code "~>>"]
   ". The hyphenated aliases are standard in languages like Clojure and are, in my opinion, slightly easier
   to type.)"]
  [:h2 "Structural editing"]
  [:p
   "If you’re new to Lisp-like languages, navigating deeply-nested S-expressions can be a challenge.
    Fortunately, Helix has a lot of tools that enable editing code as a tree rather than plain strings."]
  [:p
   "First class support for tree-sitter lets you move around and select nodes in the tree. Four commands
    to get you started:"]
  [:div.table-wrapper
   [:table
    [:tbody
     [:tr
      [:th [:code ":select_next_sibling"] ", " [:code "&lt;A-n&gt;"]]
      [:td "Select next sibling"]]
     [:tr
      [:th [:code ":select_prev_sibling"] ", " [:code "&lt;A-p&gt;"]]
      [:td "Select previous sibling"]
      [:tr
       [:th [:code ":expand_selection"] ", " [:code "&lt;A-o&gt;"]]
       [:td "Expand selection"]]
      [:tr
       [:th [:code ":shrink_selection" ", " [:code "&lt;A-i&gt;"]]]
       [:td "Shrink selection"]]]]]]
  [:p
   "Note that these work with any language with tree-sitter support, so learning them definitely won’t
   be a waste of time. But they’re especially useful in a Lisp."]
  [:h3 "The " [:code "match"] " menu"]
  [:p "The " [:code "match"]
   " menu commands are useful for jumping to the matching parenthesis in a
    pair ("
   [:code "mm"]
   ") and for adding, replacing or deleting parens around a selection, so you don’t need to worry about
   finding the right spot to add/delete one:"]
  [:figure
   [:img
    {:alt    "match surround operations in Helix"
     :height 403
     :src    "static/steel-match.gif"
     :width  595}]
   [:figcaption "Using " [:code "match"]
    " to change parentheses"]]
  [:h3 "Paredit"]
  [:p "The final plug-in we installed back in “Additional tools” was "
   [:code "paredit.hx"]
   ". It uses tree-sitter to provide structural editing operations like barfing and slurping (pushing or
   pulling elements into/out of the front/back of the current list), splitting/joining lists or strings, and
   splicing (a shorter way of achieving the match/delete operation above)."]
  [:p
   "These operations all help you edit code without having to manually edit or move parentheses:"]
  [:figure
   [:img
    {:alt    "Slurping a form in Helix"
     :height 595
     :src    "static/steel-paredit.gif"
     :width  787}]
   [:figcaption "Slurping a form"]]
  [:p
   "With the supplied bindings, you’ll find the Paredit options in minor mode menus under "
   [:code "&lt;space&gt;.&gt;"] " and "
   [:code "&lt;space&gt;.&lt;"]
   " for forward and backward operations respectively. But that’s mainly for discoverability. If you like
   them, you may want faster access. Check out "
   [:a
    {:href   "https://github.com/waddie/paredit.hx"
     :target "_blank"} "the repo"] " for another possible setup."]
  [:h2 "Further reading"]
  [:p
   "These are the main resources I learned from:"]
  [:ul
   [:li "Dorai Sitaram’s "
    [:a
     {:href   "https://ds26gte.github.io/tyscheme/index-Z-H-1.html"
      :target "_blank"} "Teach Yourself Scheme in Fixnum Days"]
    " is a free introductory book for the Scheme language."]
   [:li "Daniel P. Friedman and Matthias Felleisen’s "
    [:a
     {:href   "https://mitpress.mit.edu/9780262560993/the-little-schemer/"
      :target "_blank"} "The Little Schemer"]
    " is a gentle but rapidly escalating introduction to recursion
    in the form of a Socratic dialogue. It may not prove super-helpful when you’re writing your Helix config,
    but it’s one of those rare books that can change the way your brain works."]
   [:li "I’m not sure how much of the code in "
    [:a
     {:href   "https://htdp.org/"
      :target "_blank"} "How to Design Programs, 2nd. Ed."]
    " will work with Steel. I think back in the day I worked through the first edition in Racket, before it was
     even called Racket. But whatever version of Racket it uses now, most of the skills will transfer."]
   [:li
    "The "
    [:a
     {:href   "https://github.com/mattwparas/steel/tree/master/steel-examples"
      :target "_blank"} "main Steel repository"]
    " has a great collection of example code to learn from."]
   [:li
    [:a
     {:href   "https://helix-plugins.com/"
      :target "_blank"} "Helix Plugins"]
    " maintains a list of plug-ins that have been built for the new system."]]
  [:div.embed.end
   [:iframe
    {:allow
     "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
     :allowfullscreen true
     :frameborder 0
     :height 315
     :referrerpolicy "strict-origin-when-cross-origin"
     :src "https://www.youtube-nocookie.com/embed/4r454dad7tc"
     :title "Non, je ne regrette rien – Édith Piaf"
     :width 560}]]]
 :published #inst "2026-06-16T18:45:00+01:00"
 :slug :steel-helix-first-steps
 :synopsis
 "For the parens-curious, a tutorial for setting up a Steel Scheme development environment in Helix."
 :title "Up and running with Helix and Steel Scheme"}
