{:body
 [[:p "testing"]
  [:div.embed.end
   [:iframe
    {:allow
     "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
     :allowfullscreen true
     :frameborder 0
     :height 315
     :referrerpolicy "strict-origin-when-cross-origin"
     :src "https://www.youtube-nocookie.com/embed/rBb3CVn7ZeI"
     :title "Διόδια - Μαρίζα Ρίζου @ VOX / Μαρτ 23"
     :width 560}]]]
 ; :published #inst "2025-09-27T21:00:00Z"
 :slug :grit
 :synopsis "On muscle memory, small annoyances, and trying new things."
 :title "Grit"}
