{:body
 [[:p
   "I’ll level with you. The very last thing I’ve ever wanted in my career is another
    thousand-line pull request to code review."]]
 ; :published #inst "2025-08-30T15:23:00Z"
 :slug :suffer-not-a-machine-to-think
 :synopsis
 "I’m pretty sure I hate vibe coding, but LLMs can still provide a lot of value to people who want to write
 the code."
 :title "Suffer not a machine to think"}
